<main>
    <div class="grid">
    
    <div >
        <div>
            <p><span *ngIf="creditCardForm.value.cardNumber === ''">0000 0000 0000 0000</span>{{ creditCardForm.value.cardNumber }}</p>
            <p><span *ngIf="creditCardForm.value.name === ''">Jane Appleseed</span>{{ creditCardForm.value.name }}</p>
            <p>
                <span *ngIf="creditCardForm.value.expDateMonth === ''">00</span>{{creditCardForm.value.expDateMonth}} /
                <span *ngIf="creditCardForm.value.expDateYear === ''">00</span>{{creditCardForm.value.expDateYear}}
            </p>
        </div>
        <div>
            <p><span *ngIf="creditCardForm.value.cvc === ''">000</span>{{ creditCardForm.value.cvc }}</p>
        </div>
    </div>
        <form [formGroup]="creditCardForm">

            <!-- Name Field -->
            <label for="cardHolderName">Card Holder Name</label>
            <input type="text" id="cardHolderName" placeholder="e.g Jane Appleseed" formControlName="name" required>
            
            <div *ngIf="creditCardForm.controls.name.invalid && (creditCardForm.controls.name.dirty || creditCardForm.controls.name.touched)">
                <div *ngIf="creditCardForm.controls.name.errors?.['required']">Can't be blank.</div>
            </div>

            <!-- Card Number Field-->
            <label for="cardNumber">Card Number</label>
            <input type="text" id="cardNumber" placeholder="e.g 1234 5678 9123 0000" formControlName="cardNumber" required>
            
            <div *ngIf="creditCardForm.controls.cardNumber.invalid && (creditCardForm.controls.cardNumber.dirty || creditCardForm.controls.cardNumber.touched)">
                <div *ngIf="creditCardForm.controls.cardNumber.errors?.['required']">Can't be blank.</div>
                <div *ngIf="creditCardForm.controls.cardNumber.errors?.['pattern']">Wrong Format, numbers only.</div>
            </div>

            <!-- Expiration Date Fields -->
            <label for="expDate">Exp. Date (mm/yy)</label>
            
            <input type="text" placeholder="MM" formControlName="expDateMonth">
            <input type="text" placeholder="YY" formControlName="expDateYear">

            <!-- CVC Field -->
            <label for="cvc">Cvc</label>
            <input type="number" placeholder="e.g 123" formControlName="cvc">
            
            <div *ngIf="creditCardForm.controls.cvc.invalid && (creditCardForm.controls.cvc.dirty || creditCardForm.controls.cvc.touched)">
                <div *ngIf="creditCardForm.controls.cvc.errors?.['required']">Can't be blank.</div>
                <div *ngIf="creditCardForm.controls.cvc.errors?.['pattern']">Wrong Format, numbers only.</div>
            </div>

            <!-- Submit Button-->
            <button role="submit">Confirm</button>
        </form>
    </div>
</main>